html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Location input box style*/
.location {
    position: relative;
    font-size: 16px;
}

    .location input {
        width: 370px;
        height: 32px;
        border-radius: 5px;
    }
    

    .location .fa-map-marker {
        position: absolute;
        top: 15px;
        left: 340px;
    }