@model Seller
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit </h1>

<div class="col-md-4">
    <form method="post" asp-action="Edit">
        <h2>Update profile</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" autocomplete="Name" aria-required="true" />
        </div>
        <div class="form-floating">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control " autocomplete="Location" aria-required="true" />
        </div>
      <div class="form-floating">
          <select asp-for="Type" class="form-control sellerType">
                  <option >Fruits</option>
                  <option >Vegetables</option>>
                  <option >Carpets</option>>
                  <option >Flowers</option>>
                  <option >Clothes</option>>
             </select>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
   
    </form>
</div>