@model Seller

@{
    ViewData["Title"] = "Index";
}

<h1>Seller Index</h1>



@{
    var db_sell = ViewData["sellDb"] as SellerAndBuyer.Models.Seller;
}
<div> Name: @db_sell.Name</div>
<div> Location: @db_sell.Location</div>
<div> Type: @db_sell.Type</div>


<a asp-controller = "Seller" asp-action="Edit" asp-route-id = "@db_sell.Id">Edit</a>   



