@model Seller

@{
    ViewData["Title"] = "Index";
}
@{
    var db_sell = ViewData["sellDb"] as SellerAndBuyer.Models.Seller;
}


<div class="col-md-4 offset-4">
<h1>My Data</h1>

<div class="card" style="width: 18rem;">
  <img src="~/images/userInfo.png" class="card-img-top" alt="user_info">
  <div class="card-body">
    <h5 class="card-title">My info</h5>
    <p class="card-text">
      <div> Name: @db_sell.Name</div>
      <div> Location: @db_sell.Location</div>
      <div> Type: @db_sell.Type</div>
    </p>
    <a asp-controller = "Seller" asp-action="Edit" asp-route-id = "@db_sell.Id">Edit</a>   
    <a asp-controller = "Seller" asp-action="Map">Map</a>  
    </div>
</div>
</div>
