@model IEnumerable<Seller>
@{
    ViewData["Title"] = "Index";
}

<h1>Seller Index</h1>
@foreach(var obj in Model)
{
    <h6>@obj.Name</h6>
    <h6>@obj.Location</h6>
    <h6>@obj.Type</h6><br />
}



<script></script>