@model Buyer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/site.css">
<style>
 .input-group
 {
      position:relative;
  display:inline-block;
 }
 .icon
 {
      position: absolute;
  right:7px;
  top: 31px;
}
.input-field {
  padding-right: 20px; /* = icon width if you don't want the password to go under the icon */ 
  }
</style>
</head>
<h1>Create </h1>

<div class="col-md-4 offset-3">
    <form method="post">
        <h2>Complete profile</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"  />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
          <div class="location mb-3 input-group">
            <label asp-for="Location"></label>  
            <div id = "Location-div">
                 <i class="bi bi-geo-alt-fill icon" onclick="getPreciseLocation()"></i>
            <input asp-for="Location" class="form-control input-field "id="buyerLocation"  placeholder="Click on the icon" />           
            </div>
             <span asp-validation-for="Location" class="text-danger"></span>
          </div>
    

        <div class="mb-3">
           <select asp-for="Type" class="form-control">
                  <option disabled selected>--Select Type---</option>
                  <option >Fruits</option>
                  <option >Vegetables</option>>
                  <option >Carpets</option>>
                  <option >Flowers</option>>
                  <option >Clothes</option>>
             </select>
        </div>
        
        <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
      
   
    </form>
</div>


<script> 
  'use strict';
function getPreciseLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(saveExactPosition)
    } else {
        alert("Geolocation is not supported");
    }
}
function saveExactPosition(position) {
    console.log(position.coords.longitude);
    alert(+ position.coords.latitude + "  " + position.coords.longitude);    
    document.getElementById("buyerLocation").value = position.coords.latitude + " " + position.coords.longitude;
    
}
//     </script>  